<table class="table table-bordered table-striped table-hover mt-2">
    <thead>
      <tr class="text-center">
        <th scope="col">Mã chi tiết đơn hàng</th>
        <th scope="col">Mã đơn hàng</th>
        <th scope="col">Mã sản phẩm</th>
        <th scope="col">số lượng</th>
        <th scope="col">Thành tiền</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="od in pager.items">
        <th>{{od.orderdetail.id}}</th>
        <td>{{od.orderdetail.order.id}}</td>
        <td>{{od.orderdetail.product.id}}</td>
        <td>{{od.orderdetail.quantity}}</td>
        <td>{{od.orderdetail.price}}</td>
        <td>
            <button class="text-warning btn-edit" style="border: none; background: none;" ng-click="edit(od)"><i class="fa fa-pencil-square-o"></i></button>
            <!-- <button class="text-danger btn-edit" ng-click="delete(od)"><i class="fa fa-trash-o"></i></button> -->
        </td>
      </tr>
    </tbody>
  </table>
    <nav aria-label="Page navigation example" >
      <ul class="pagination justify-content-center">
        <li class="page-item page-link" ng-click="pager.first()">&laquo;</li>
        <li class="page-item page-link" ng-click="pager.prev()">&lt;</li>
        <li class="page-item page-link" >{{pager.page +1}}/{{pager.count}}</li>
        <li class="page-item page-link" ng-click="pager.next()">&gt;</li>
        <li class="page-item page-link" ng-click="pager.last()">&raquo;</li>
      </ul>
    </nav>
 