<form class="row g-3 mt-2">
  <div class="col-md-3">
    <div class="input-group">
      <input
        type="file"
        class="form-control m-0 p-0"
        id="avatarproduct"
        aria-label="Upload"
        onchange="angular.element(this).scope().imageChanged(this.files)"
      />
      <img
        ng-src="{{'/assets/images/courses/'+form.image}}"
        width="100%"
        height="auto"
        alt=""
      />
    </div>
  </div>
  <div class="row g-3 col-md-9">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Tên sản phẩm</label>
      <input
        ng-model="form.name"
        type="text"
        class="form-control"
        id="inputName"
        placeholder="Tên sản phẩm"
      />
    </div>
    <div class="col-md-6">
      <label for="inputPrice" class="form-label">Giá bán</label>
      <input
        ng-model="form.price"
        type="number"
        class="form-control"
        id="inputPrice"
        placeholder="Giá bán"
      />
    </div>
    
    <div class="col-md-6">
      <label class="form-check-label" for="gridCheck"> Còn hàng </label>
      <div class="form-control" id="gridCheck">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" ng-model="form.available" ng-value="true">
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" ng-model="form.available" ng-value="false">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-check-label" for="gridCheck"> Khuyến mãi </label>
      <div class="form-control" id="gridCheck">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions1" ng-model="form.discount.id" ng-value="1">
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions1" ng-model="form.discount.id" ng-value="1">
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputCategory" class="form-label">Thể loại</label>
      <select
        ng-model="form.category.id"
        id="inputCategory"
        class="form-select"
      >
        <option>Chọn thể loại...</option>
        <option ng-repeat="c in categories" ng-value="c.id">{{c.name}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputId" class="form-label">ID Youtube</label>
      <input placeholder="ID youtube" type="text" class="form-control" id="inputId" />
    </div>
    <div class="col-md-3">
      <label for="inputCount" class="form-label">Số lượng</label>
      <input
        ng-model="form.quantity"
        type="number"
        class="form-control"
        id="inputCount"
        placeholder="Số lượng"
      />
    </div>

    <div class="col-12">
      <label for="inputDesciption" class="form-label">Mô tả</label>
      <textarea
        ng-model="form.description"
        type="text"
        class="form-control"
        id="inputDesciption"
        placeholder="Mô tả"
        rows="3"
      ></textarea>
    </div>
    <div class="col-12">
      <button ng-disabled="status()" ng-click="create()" type="button" class="btn btn-primary btn-hover-primary lh-lg"><i class="fa fa-plus"></i> Create</button>
      <button ng-disabled="!status()" ng-click="update()" type="button" class="btn btn-primary btn-hover-primary lh-lg"><i class="fa fa-list-alt"></i> Update</button>
      <button ng-disabled="!status()" ng-click="delete(form)" type="button" class="btn btn-danger btn-hover-danger lh-lg"><i class="fa fa-trash-o"></i> Delete</button>
      <button ng-click="reset()" type="button" class="btn btn-dark btn-hover-dark lh-lg"><i class="fa fa-refresh"></i> Reset</button>
    </div>
  </div>
</form>
