<table class="table table-bordered table-striped table-hover mt-2">
    <thead>
      <tr class="text-center">
        <th scope="col">Mã khóa học</th>
        <th scope="col">Tên</th>
        <th scope="col">Giá</th>
        <!-- <th scope="col">Hình ảnh</th> -->
        <th scope="col">Tình trạng</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Mã giảm giá</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody id="myTbody">
      <tr ng-repeat="p in pager.items" id="myTr">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price | number}}</td>
        <!-- <td>{{p.image}}</td> -->
        <td>{{p.available?'Yes':'No'}}</td>
        <td>{{p.category.name}}</td>
        <td>{{p.discount.name}}</td>
        <td>
            <button class="text-warning btn-edit" style="border: none; background: none;" ng-click="edit(p)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="text-danger btn-edit" ng-click="delete(p)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
    <nav aria-label="Page navigation example" >
      <ul class="pagination justify-content-center">
        <li class="page-item page-link" ng-click="pager.first()">&laquo;</li>
        <li class="page-item page-link" ng-click="pager.prev()">&lt;</li>
        <li class="page-item page-link" >{{pager.page +1}}/{{pager.count}}</li>
        <li class="page-item page-link" ng-click="pager.next()">&gt;</li>
        <li class="page-item page-link" ng-click="pager.last()">&raquo;</li>
      </ul>
    </nav>
 