<table class="table table-bordered table-striped table-hover mt-2">
    <thead>
      <tr class="text-center">
        <th scope="col">Mã câu hỏi</th>
        <th scope="col">Nội dung</th>
        <th scope="col">Mã bài học</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody id="myTbody">
      <tr ng-repeat="p in pager.items track by $index" id="myTr">
        <td>{{p.idquiz}}</td>
        <td>{{p.noidung}}</td>
        <td>{{p.baihoc.baihocid}}</td>
        <td>
            <button class="text-warning btn-edit" style="border: none; background: none;" ng-click="edit(p)"><i class="fa fa-pencil-square-o"></i></button>
            <button class="text-danger btn-edit" ng-click="delete(p)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
    <nav aria-label="Page navigation example" >
      <ul class="pagination justify-content-center">
        <li class="page-item page-link" ng-click="pager.first()">&laquo;</li>
        <li class="page-item page-link" ng-click="pager.prev()">&lt;</li>
        <li class="page-item page-link" >{{pager.page +1}}/{{pager.count}}</li>
        <li class="page-item page-link" ng-click="pager.next()">&gt;</li>
        <li class="page-item page-link" ng-click="pager.last()">&raquo;</li>
      </ul>
    </nav>
 