<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://npm.fontawesome.com/
    //npm.fontawesome.com/:_authToken=FONT-AWESOME-PACKAGE-FONT-AWESOME-PACKAGE-TOKEN"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/askAndQues.css">
</head>
  <body>
    <div class="container">
        <article class="article">
            <h3>New Question</h3>
            <form >
                <h6>Question</h6>
                <input type="text" placeholder="Question" aria-label="Question">
                <h6>Message</h6>
                <textarea name="" cols="30" rows="10"></textarea>
                <h6>Tags</h6>
                <input type="text" placeholder="Tags" aria-label="Tags">
                <br>
                <button class="btn btn-outline-info">Post</button>
                <button class="btn btn-outline-dark">Cancel</button>
                
            </form>
        </article>
        <aside class="aside">
            <div class="discussionSidebarBlock">
                <a href="/Discuss.html" class="discusslink">Hot Today</a>
                <div class="list">
                    <a href="">
                        <i class="archiveIcon"></i>
                        <span class="text">
                            Theo như thông tin tác giả cung cấp thì Perfecty Push Notifications là một plugin với chức năng tạo thông báo đẩy lên trình duyệt tự nó lưu trữ. Bạn sẻ không cần thêm API để tích hợp với các nhà cung cấp bên ngoài, vì thường sẻ bị tính phí. Plugin sử dụng mã nguồn mở và thông tin được lưu trữ trong WordPress của bạn, do đó bạn có thể gửi Thông báo đẩy trực tiếp từ máy chủ của bạn hoàn toàn miễn phí!
                        </span>
                    </a>
                    <a href="">
                        <i class="archiveIcon"></i>
                        <span class="text">
                            Theo như thông tin tác giả cung cấp thì Perfecty Push Notifications là một plugin với chức năng tạo thông báo đẩy lên trình duyệt tự nó lưu trữ. Bạn sẻ không cần thêm API để tích hợp với các nhà cung cấp bên ngoài, vì thường sẻ bị tính phí. Plugin sử dụng mã nguồn mở và thông tin được lưu trữ trong WordPress của bạn, do đó bạn có thể gửi Thông báo đẩy trực tiếp từ máy chủ của bạn hoàn toàn miễn phí!
                        </span>
                    </a>
                    <a href="">
                        <i class="archiveIcon"></i>
                        <span class="text">
                            Theo như thông tin tác giả cung cấp thì Perfecty Push Notifications là một plugin với chức năng tạo thông báo đẩy lên trình duyệt tự nó lưu trữ. Bạn sẻ không cần thêm API để tích hợp với các nhà cung cấp bên ngoài, vì thường sẻ bị tính phí. Plugin sử dụng mã nguồn mở và thông tin được lưu trữ trong WordPress của bạn, do đó bạn có thể gửi Thông báo đẩy trực tiếp từ máy chủ của bạn hoàn toàn miễn phí!
                        </span>
                    </a>
                    <a href="">
                        <i class="archiveIcon"></i>
                        <span class="text">
                            Theo như thông tin tác giả cung cấp thì Perfecty Push Notifications là một plugin với chức năng tạo thông báo đẩy lên trình duyệt tự nó lưu trữ. Bạn sẻ không cần thêm API để tích hợp với các nhà cung cấp bên ngoài, vì thường sẻ bị tính phí. Plugin sử dụng mã nguồn mở và thông tin được lưu trữ trong WordPress của bạn, do đó bạn có thể gửi Thông báo đẩy trực tiếp từ máy chủ của bạn hoàn toàn miễn phí!
                        </span>
                    </a>
                </div>
            </div>
        </aside>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>