<form class="row g-3 mt-2" id="formchuonghoc">
  <div class="col-md-3">
    <div class="input-group">
      <input
        type="file"
        class="form-control m-0 p-0"
        id="avatarproduct"
        aria-label="Upload"
        onchange="angular.element(this).scope().imageChanged(this.files)"
      />
      <img
        ng-if="ck == true"
        ng-src="{{'/assets/images/courses/'+form.chuonghocimg}}"
        width="100%"
        height="auto"
        alt=""
        style="height: 300px;"
      />
      <img
        ng-if="ck == false"
        ng-src="{{form.chuonghocimg}}"
        width="100%"
        height="auto"
        alt=""
        style="height: 300px;"
      />
    </div>
  </div>
  
  <div class="row g-3 col-md-9">
    <div class="col-md-9">
      <label for="inputName" class="form-label">Tiêu đề chương học</label>
      <input
        ng-model="form.tieude"
        type="text"
        class="form-control"
        id="tieude"
        placeholder="Tên sản phẩm"
      />
      <span class="form-message invalid-feedback"></span>
    </div>
    
    <div class="col-md-9">
      <label for="inputCategory" class="form-label">Mã môn học</label>
      <select
        ng-model="form.product.id"
        id="productId"
        class="form-control"
      >
        <option  value="">Chọn sản phẩm...</option>
        <option ng-repeat="c in products" ng-value="c.id" >{{c.name}}</option>
      </select>
      <span class="form-message invalid-feedback"></span>
    </div>
  </div>
    <div class="col-12">
      <button ng-disabled="status()" ng-click="create()" type="button" class="btn btn-primary btn-hover-primary lh-lg"><i class="fa fa-plus"></i> Create</button>
      <button ng-disabled="!status()" ng-click="update()" type="button" class="btn btn-primary btn-hover-primary lh-lg"><i class="fa fa-list-alt"></i> Update</button>
      <button ng-disabled="!status()" ng-click="delete(form)" type="button" class="btn btn-danger btn-hover-danger lh-lg"><i class="fa fa-trash-o"></i> Delete</button>
      <button ng-click="reset()" type="button" class="btn btn-dark btn-hover-dark lh-lg"><i class="fa fa-refresh"></i> Reset</button>
    </div>
  
</form>
<script>

  Validator({

      // tên form cần validate
      form : '#formchuonghoc',
      // các thuộc tính kiểm lỗi
      rules : [
          //gọi hàm kiểm lỗi và kiểm tra thẻ theo yêu cầu
          Validator.isRequired('#tieude'),
          Validator.isRequired('#productId')

      ]
  })

</script>
